<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of customers</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/v5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/sweetalert2/sweetalert2.all.min.js">
</head>
<body>
<div class="container">
    <div class="header">
        <nav class="navbar bg-primary">
            <div class="container-fluid">
                <h2>List of customers</h2>
                <div class="d-flex">
                    <a href="/customers/create">
                        <button class="btn btn-light m-4">
                            <i class="fas fa-plus"></i>
                            Create
                        </button>
                    </a>
                    <a href="/customers/history">
                        <button class="btn btn-light m-4">
                            History
                        </button>
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <div class="content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Full name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Balance</th>
                <th>Address</th>
                <th colspan="5">Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="item : ${customers}">
                <tr>
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.fullName}"></td>
                    <td th:text="${item.email}"></td>
                    <td th:text="${item.phone}"></td>
                    <td th:text="${item.balance}"></td>
                    <td th:text="${item.address}"></td>
                    <td>
                        <a th:href="@{/customers/update/__${item.id}__}">
                            <button class="btn btn-outline-secondary" title="Edit">
                                <i class="far fa-edit"></i>
                            </button>
                        </a>
                    </td>
                    <td>

                        </button>
                        <a th:href="@{/customers/deposit/__${item.id}__}">
                            <button class="btn btn-outline-success" title="Deposit">
                                <i class="fas fa-plus"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        </button>
                        <a th:href="@{/customers/withdraw/__${item.id}__}">
                            <button class="btn btn-outline-success" title="Withdraw">
                                <i class="fas fa-minus"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/customers/transfer/__${item.id}__}">
                            <button class="btn btn-outline-primary" title="Transfer">
                                <i class="fas fa-exchange-alt"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{/customers/delete/__${item.id}__}">
                            <button class="btn btn-outline-primary" title="Delete">
                                <i class="fa fa-trash"></i>
                            </button>
                        </a>
                    </td>
<!--                    <td>-->
<!--                        <a th:href="@{/customers/transaction-history}">-->
<!--                            <button class="btn btn-outline-primary" title="Delete">-->
<!--                                <i class="fa fa-trash"></i>-->
<!--                            </button>-->
<!--                        </a>-->
<!--                    </td>-->
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>


    <footer>
        <div class="success" th:if="${success}">
            <ul class="container">
                <li th:text="${messages}"></li>
            </ul>
        </div>
    </footer>
</div>

<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });


    setTimeout(function () {
            $('footer').slideUp('slow');
        }, 1500);

</script>








</body>
</html>