<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Users | Front - Admin &amp; Dashboard Template</title>
    <!-- Favicon -->
    <th:block th:replace="/ep/layout/head :: head"/>
</head>
<body class="   footer-offset">
<th:block th:replace="/ep/layout/builder :: builder"/>
<th:block th:replace="/ep/layout/headerMain :: headerMain"/>
<th:block th:replace="/ep/layout/plugin :: plugin"/>
<th:block th:replace="/ep/layout/asidebar :: asidebar"/>
<th:block th:replace="/ep/layout/searchForm :: search"/>
<th:block th:replace="/ep/layout/asidebarCompact :: sidebarCompact"/>
<main id="content" role="main" class="main">
    <!-- Content -->


        <div class="row justify-content-lg-center mt-5" >

                <div class="col-lg-8">
                    <!-- Step -->
                    <form th:object="${employ}" method="post">
                    <!-- End Step -->

                    <!-- Content Step Form -->
                    <div id="addUserStepFormContent" >
                        <!-- Card -->
                        <div id="addUserStepProfile" class="card card-lg active">
                            <!-- Body -->
                            <div class="card-body">
                                <!-- Form Group -->
                                <div class="row form-group">
                                    <label class="col-sm-3 col-form-label input-label">Avatar</label>

                                    <div class="col-sm-9">
                                        <div class="d-flex align-items-center">
                                            <!-- Avatar -->
                                            <label class="avatar avatar-xl avatar-circle avatar-uploader mr-5"
                                                   for="avatarUploader">
                                                <img id="avatarImg" class="avatar-img" src="/assets/img/160x160/img1.jpg"
                                                     alt="Image Description">

                                                <input type="file" class="js-file-attach avatar-uploader-input"
                                                       id="avatarUploader" data-hs-file-attach-options="{
                                      &quot;textTarget&quot;: &quot;#avatarImg&quot;,
                                      &quot;mode&quot;: &quot;image&quot;,
                                      &quot;targetAttr&quot;: &quot;src&quot;,
                                      &quot;resetTarget&quot;: &quot;.js-file-attach-reset-img&quot;,
                                      &quot;resetImg&quot;: &quot;.//assets/img/160x160/img1.jpg&quot;,
                                      &quot;allowTypes&quot;: [&quot;.png&quot;, &quot;.jpeg&quot;, &quot;.jpg&quot;]
                                   }">

                                                <span class="avatar-uploader-trigger">
                              <i class="tio-edit avatar-uploader-icon shadow-soft"></i>
                            </span>
                                            </label>
                                            <!-- End Avatar -->

                                            <button type="button" class="js-file-attach-reset-img btn btn-white">Delete</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Form Group -->
                                <div th:if="${error == true}">
                                    <p th:each="err : ${#fields.errors('employ.*')}" th:text="${err}"></p>
                                </div>
                                <!-- Form Group -->
                                <div class="row form-group">
                                    <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Full name <i
                                            class="tio-help-outlined text-body ml-1" data-toggle="tooltip" data-placement="top"
                                            title=""
                                            data-original-title="Displayed on public forums, such as Front."></i></label>

                                    <div class="col-sm-9">
                                        <div class="input-group input-group-sm-down-break">
                                            <input type="text" class="form-control" name="firstName" id="firstNameLabel"
                                                   placeholder="Clarice" aria-label="Clarice" th:field="*{fullName}">
                                        </div>
                                    </div>
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div class="row form-group">
                                    <label for="emailLabel" class="col-sm-3 col-form-label input-label">Email</label>

                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" name="email" id="emailLabel"
                                               placeholder="clarice@example.com" aria-label="clarice@example.com"
                                               th:field="*{email}">
                                    </div>
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div class="js-add-field row form-group" data-hs-add-field-options="{
                            &quot;template&quot;: &quot;#addPhoneFieldTemplate&quot;,
                            &quot;container&quot;: &quot;#addPhoneFieldContainer&quot;,
                            &quot;defaultCreated&quot;: 0
                          }" th:object="${employ}">
                                    <label for="phoneLabel" class="col-sm-3 col-form-label input-label">Phone <span
                                            class="input-label-secondary">(Optional)</span></label>

                                    <div class="col-sm-9">
                                        <div class="input-group input-group-sm-down-break align-items-center">
                                            <input th:field="*{phone}" type="text" class="js-masked-input form-control"
                                                   name="phone" id="phoneLabel"
                                                   placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx"
                                                   data-hs-mask-options="{
                                   &quot;template&quot;: &quot;+0(000)000-00-00&quot;
                                 }" maxlength="16">

                                            <div class="input-group-append">

                                            </div>
                                        </div>
                                    </div>


                                    <!-- Container For Input Field -->
                                    <div id="addPhoneFieldContainer"></div>

                                    <!--                                <a class="js-create-field form-link btn btn-sm btn-no-focus btn-ghost-primary" href="javascript:;">-->
                                    <!--                                    <i class="tio-add"></i> Add phone-->
                                    <!--                                </a>-->
                                </div>
                                <div class="row form-group">
                                    <label for="departmentLabel" class="col-sm-3 col-form-label input-label">Address</label>

                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="department" id="departmentLabel"
                                               placeholder="Address" aria-label="Human resources" th:field="*{address}">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label for="organizationLabel" class="col-sm-3 col-form-label input-label">Position</label>

                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="organization" id="organizationLabel"
                                               placeholder="ext: Director " aria-label="Htmlstream" th:field="*{position}">
                                    </div>
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->

                                <div class="row form-group">
                                    <label for="departmentLabel" class="col-sm-3 col-form-label input-label">Description</label>

                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="department"
                                               placeholder="Position description" aria-label="Human resources"
                                               th:field="*{description}">
                                    </div>
                                </div>
                                <!-- End Form Group -->

                                <!-- Form Group -->
                                <div class="row form-group">
                                    <label class="col-sm-3 col-form-label input-label">Role</label>

                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="department"
                                               placeholder="Position description" aria-label="Human resources"
                                               th:field="*{role}">
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-end align-items-center">
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                                <!-- End Custom Radio -->
                            </div>
                        </div>
                    </div>
                    </form>
                </div>


        </div>



    </div>




    </div>
    </div>

    <!-- End Content -->

</main>
<th:block th:replace="/ep/layout/script :: script"/>
</body>
</html>
